<!DOCTYPE html>
<html>
    <head>
        <title>PayPal按钮示例</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__CDN__/assets/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container container-main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron" style="margin-top:50px;">
                      <h1>支付成功!</h1>
                      <p>我们会在收到支付反馈后，进一步联系您。</p>
                      <p><a class="btn btn-primary btn-lg" href="#" role="button">知道了</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
